body {
    background: linear-gradient(-45deg, #dacdfc, #b2dafd, #facdd0, #fcc4dc);
    background-size: 400% 400%;
    animation: 10s ease infinite gradientBG;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

nav {
    display: flex;
    justify-content: flex-end;
}


#img {
    height: 250px;
    background-image: url("https://image.shutterstock.com/image-photo/panoramic-view-lavender-field-provence-260nw-205056607.jpg");
    background-position: 50% 30%;
    background-size: cover;
}

h1 {
    font-size: 80px;
    text-align: center;
    padding: 0;
    margin: 0;
    background: -webkit-linear-gradient(rgb(187, 129, 253), rgb(114, 179, 253));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input {
    margin: 10px;
}

h2 {
    margin-top: 10px;
}

.showBtn {
    background: linear-gradient(#f7c9c9, #d6d9f5);
    box-shadow: 5px 5px 10px rgb(163, 163, 163);
    border-radius: 15% 5%;
    height: 40px;
}